@model LoginViewModel

@{
    var modelGet = (LoginGetViewModel)ViewData["modelDetails"];
    Layout = "Shared/_AuthLayout.cshtml";
}


    <div class="login-box">
  
        <div class="name-box">
            <span class="welcome-text">Hello @Model.Name</span>
        </div>
        <p class="text">Please enter your password</p>
        <form asp-controller="Auth" asp-action="Authenticate" method="post">
            <input type="hidden" name="Username" value="@Model.UserName" />
            <input type="hidden" name="Name" value="@Model.Name" />
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <div class="form-control enter-mail">
                <div class="row h-100">
                    <div class="col-2"></div>
                    <div class="col-8 h-100 d-flex align-items-center">
                        <div>
                            <input class="w-100 h-100 text-center" name="password" placeholder="Password" type="password" id="password" required />
                        </div>

                    </div>
                    <div class="col-2 d-flex align-items-center justify-content-center">

                        <img src='~/images/closedEye.svg' alt="good icon" onMouseDown={showPassword}
                             class="password-icon" style="display: none;" id="password-hider"
                             onclick="showPassword(false)" />

                        <img src="~/images/openEye.svg" alt="good icon" class="password-icon"
                             onclick="showPassword(true)" id='password-shower' />

                    </div>
                </div>
                @if (ViewBag.Error != null)
                {
                    <div class="col-12 mt-4">
                        <span id="errorShow"  class="text-danger">@ViewBag.Error.ToString()</span>
                    </div>

                }
            </div>
            <button class="btn proceed mb-4" type="submit">Proceed</button>
            <div>
                <a asp-action="PasswordReset" class="forgetlink">Forgot Password?</a>
            </div>
        </form>


    </div>
 
    <script>
        let password = document.getElementById('password');
        let passwordShower = document.getElementById('password-shower')
        let passwordHider = document.getElementById('password-hider')

        const showPassword = (decision) => {
            if (decision === true) {
                password.type = "text"
                passwordShower.style = 'display: none;'
                passwordHider.style = 'display: unset'
            }
            else {
                password.type = "password"
                passwordShower.style = 'display: unset'
                passwordHider.style = 'display: none'
            }
        }

        let errorText = document.getElementById('errorShow');
        setTimeout(function () { errorText.style = 'display: none;'}, 5000)
   
    </script>
